* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  height: 12rem;
  width: 12rem;
  padding-inline: 0.5rem;
  background-color: rgb(243, 244, 247);
}

button {
  cursor: pointer;
  background-color: rgb(9, 179, 125);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 6rem;
  color: rgb(243, 244, 247);
  font-weight: 600;
}

button:hover {
  opacity: 0.85;
}

button:active {
  opacity: 0.75;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
